@model IssueTracker.Models.Tickets

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-primary">Details</h1>
<hr />
<div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Ticket Details</h6>
         </div>
    <div class="card-body">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subject)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
<div>
 <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary"> <i class="bi bi-pencil-square"></i> Edit</a>
<a class="btn btn-secondary btn-sm" asp-action="Index"><i class="bi bi-arrow-return-left"></i> &nbsp;Back to List</a>

</div>
    </div>

 </div>
